$font-family-sans-serif: 'Mulish', sans-serif;
$font-size-base: 0.9rem;

//cards
$card-title-spacer-y: 0.5rem;
$card-border-radius: 6px;
$card-border-with: 0px;
$card-bg: transparent;
@import 'node_modules/bootstrap/scss/bootstrap';
