$primaryColor: hotpink;
$theme-colors: (
  primary: $primaryColor,
);
$font-family-sans-serif: 'Plus Jakarta Sans', sans-serif;
$font-size-base: .9rem;

@import 'node_modules/bootstrap/scss/bootstrap';
