:host {
  height: 100%;
  display: flex;
  width: 100%;
  gap: 20px;
  .details {
    flex: 2;
  }
  .list {
    width: 340px;
  }
  .chart {
    display: block;
    width: 50%;
    height: 400px;
  }
}
